body {
    background-color: #FFF5EB;
}

.quotes {
    background-color: white;  
    padding: 2px;  
    text-align: center;  
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}